source/*
!source/README.md
*.blend1
deliverables/master/*.blend
deliverables/textures/*
!deliverables/textures/.gitkeep
deliverables/exports/*
!deliverables/exports/.gitkeep
deliverables/screenshots/day/*
!deliverables/screenshots/day/.gitkeep
deliverables/reports/*
!deliverables/reports/.gitkeep
__pycache__/
*.pyc
